scraper:
  enableSelfTelemetry: true
  allowOverlapScans: false
  logLevel: info
  otelCollectorEndpoint: "http://otel-collector:4317"
  enforceTls: false
  dryRun: false
  terminateGracefully: true
  servicePort: 80
  enableAdminApi: false
  defaultTimeFormat: "%Y-%m-%dT%H:%M:%SZ"
  maxGlobalConcurrency: 10
  defaultSourceConcurrency: 4
  otelTransport: grpc
  fingerprintStore:
    backend: sqlite
    maxEntriesPerSource: 50000
    defaultTtlSeconds: 86400
    cleanupIntervalSeconds: 3600
    sqlite:
      path: "./scraper_fingerprints.db"

sources:
#  - name: JSON-Placeholder
#    baseUrl: https://jsonplaceholder.typicode.com
#    endpoint: /posts
#    frequency: 1m
#    deltaDetection:
#      enabled: true
#      fingerprintMode: keys
#      fingerprintKeys:
#        - userId
#        - id
#    scrape:
#      type: instant
#      extraHeaders:
#        Accept: "application/json"
#    counterReadings:
#      - name: invoke_counts
#        fixedValue: 1
#      - name: sum_of_ids
#        dataKey: id
#        unit: "1"
#    attributes:
#      - name: user_id
#        dataKey: userId
#      - name: post_id
#        dataKey: id
#    emitLogs: true
#    runFirstScrape: false

  - name: Dummy-JSON
    baseUrl: https://dummyjson.com
    endpoint: /comments
    frequency: 1m
    deltaDetection:
      enabled: false
      fingerprintMode: full_record
    scrape:
      type: instant
      extraHeaders:
        Accept: "application/json"
    dataKey: comments
    gaugeReadings:
      - name: comments_count
        dataKey: $root.limit
        unit: "1"
    counterReadings:
      - name: likes_count
        dataKey: likes
        unit: "1"
    attributes:
      - name: user_id
        dataKey: user.id
      - name: comment_id
        dataKey: id
      - name: post_id
        dataKey: postId
    emitLogs: true
    runFirstScrape: true
